<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CRUD Nodejs y MondoDb</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
</head>

<body>
    
    <nav class="navbar navbar-dark bg-dark mb-4">
      <a class="navbar-brand" href="#">CRUD Nodejs y Mongodb</a>
    </nav>